* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden; /*to prevent any overflows that happen due to transform*/
    /* background-color: rgba(126, 126, 126, 0.411); */
}


/*PRIMARY HEADER -->THE WHOLE HEADER*/
.primary-header {
    z-index: 9999; /*in relation to after pseudo element*/
    /* border: .1em solid black; */
    background-color: #4d204a;
    align-items: center;
    justify-content: space-between;

    /*to fix the header at the top even when scrolling*/
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;

    
}
.flex {
    /* border: .15em solid rgb(35, 11, 248); */
    display: flex;
    gap: var(--gap, 2rem);
}
.mobile-nav-toggle {
    display: none;
}

/*The logo section of header*/
.logo {
    margin: .5rem;
}
.logo img {
    object-position: center;
    object-fit: cover;
    max-height: 4rem;
    min-width: 10rem;
}

/*primary navigation --> ul holding The Right Links*/
.primary-navigation {
    list-style: none;
    padding: .7rem;
    margin:0;
    /* border: .15em solid rgb(241, 235, 238); */
    /* --gap: clamp(5rem, 4vw, 8rem); */
}
.primary-navigation a {
    text-decoration: none;
    color:rgb(241, 235, 235);
    border: .15em solid rgb(241, 235, 235);

    padding: .3rem;
    border-radius: 9%;

    font-size: 1.1rem;
    font-weight: bold;
}
.sr-only { /*for screen-reader only so visually hidden*/
    display: none;
}
/*@supports (backdrop-filter: blur(1rem)){ /*if browser supports b-filter:blur*/
    /*.primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem)
    }
} */


/*HEADER IMAGE SECTION AFTER NAVBAR*/
/* section { moves the SECTION section below the header after position:fixed */
    /* margin-top: 5.2rem; */
/* } */
.header-image {
    /* border: 2px solid black; */
    margin-top: 5.2rem; /*moves the SECTION section below the header after position:fixed */
    position: relative;

    height: 31.25rem;
    background-image: url("Images/header-photo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    z-index: 2;
}
.header-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(7, 7, 7, 0.568);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.header-pic {
    height: inherit;
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
}
.header-pic h1 { 
    /* border: 2px solid red; */
    color: whitesmoke;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.8rem;
    font-weight: 900;

    line-height: 2.4rem;
    letter-spacing: -1px;
} 
 .header-pic p {
    /* border: 2px solid rgb(19, 17, 17); */
    color: rgba(255, 255, 255, 0.884);
    font-family: 'Verdana';
    padding-top: 1rem;
    font-size: large;
    font-weight: 500;
}
.header-pic button {
    border: 2px solid rgba(168, 168, 168, 0.63);
    margin-top: 2rem;
    padding: .6rem 1.5rem;
    background-color: #4d204a;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 900;
} 


/*SERVICES SECTION*/
.services-header{
    /* border: 2px solid red; */
    background-color: rgba(137, 43, 226, 0.158);
    /* padding-bottom: 5rem; */
}
.services-header #serv-head {
    /* border: 2px solid rgb(72, 8, 175); */
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    /* text-decoration: underline; */
    padding-top: 2rem;
}
.services {
    border: 2px solid rgb(20, 3, 3);
    border-radius: 2rem;
    padding: 2rem;

    width: 90%;
    margin: auto;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* .services > * {
    flex-basis: 100%;
} */
.services .services-each {
    border: 2px solid rgba(10, 4, 29, 0.801);
    border-radius: 1%;
    /* margin-bottom: .5rem; */
    height: 20rem;
    max-width: 30rem;

    background-position: center;
    background-size: cover;

    position: relative;
    z-index: 2;
    /* max-height: 300px; */
}
.services .services-each::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(7, 7, 7, 0.678);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.services-each h1, .services-each p {
    /* border: 2px solid rgb(39, 6, 158); */
    color: whitesmoke;

}
.services-each h1 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-family: 'IBM Plex Mono', sans-serif;
}
.services-each p {
    margin: 5rem 0 3rem 0;
    font-size: 1.2rem;
    font-family: 'verdana';
    /* color: rgb(241, 218, 188); */
    /* text-align: justify; */
}
.services-each a {
    color: rgb(241, 169, 75);
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid rgb(152, 152, 155);
    border-radius: .4rem;
    padding: .3rem;
    text-decoration: none;
    transition: border-radius 200ms ease-in, border 200ms ease-in, background-color 200ms ease-in-out, color 200ms ease-out;
}
.services-each a:hover {
    background-color: rgb(81, 92, 17);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
}
.photo {
    background-image: url("Images/photography.webp");
}
.video {
    background-image: url("Images/vid-production.webp");
      
}
.edit {
    background-image: url("Images/editing.webp");
      
}
.animations {
    background-image: url("Images/animation.webp");  
}

/*WHY US SECTIO*/
.why-us {
    /* border-top: 2px solid rgb(105, 70, 3); */
    background-color: rgba(137, 43, 226, 0.158);
    padding-bottom: 2rem;
}
.why-us #why-header {
    padding-top: 3rem;
    text-align: center;
    width: fit-content;
    margin: auto;
    /* border-bottom: solid; */
}
.why-us-inner {
    width: 90%;
    margin: auto;
    /* border: 2px solid blue; */
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    
    justify-content: space-between;
    gap: 1rem;
}
.why-us-inner > * {
    flex-basis: 100%;
}
.why-each {
    /* border: 2px solid rgb(5, 5, 5); */
    border-top: 2px ridge rgb(56, 48, 2);
    border-bottom: 2px dashed rgb(56, 48, 2);
    border-top-left-radius: 30px; 
    border-bottom-right-radius: 30px;
    padding: .3rem;
}
.why-each i {
    color: rgb(105, 77, 5);
}
.why-each h1, .why-each button, .why-each i, .why-each p {
    /* border: 2px solid red; */
    margin-block: 1rem;
}
.why-each h1 {
    font-family: 'IBM', sans-serif;
    
}
.why-each p {
    font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
.why-each button {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(105, 77, 5);
    color: rgb(39, 2, 2);
    font-weight: bold;
    padding: .5rem;
    border-radius: .5rem;
}



/*media queries*/
@media (max-width: 72.45em) { /*below 1160px */
    .services .services-each {
        /* border: 2px solid rgba(202, 91, 17, 0.801); */

        height: 15rem;
        max-width: 20rem;
    }
    .services-each h1 {
        margin-bottom: 1rem;
        font-size: 1.5rem;  
    }
    .services-each p {
        margin: 4rem 0 2rem 0;
        font-size: .9rem;
    }
    .services-each a {
        font-size: 1rem;
        padding: .3rem;
    }
}
@media (min-width: 40.01em) and (max-width: 50.625em) { /*btw 640 and 810px */
    .services {
        /* border-inline: 2px solid rgb(204, 20, 20); */
        width: 98%;
    }
    
     .services .services-each {
        /* border: 2px solid rgba(202, 91, 17, 0.801); */
        width: 17rem;
    }
    .why-us-inner {
        width: 100%;
    }
    
}
@media (max-width: 40em) { /*or below 640px or mobile view*/
    /* .menu { */
        /* display: block; */
        /* position: absolute; */
        /* top: 2.5rem; set at breakpoints
        left: 27rem;  */
        /* font-weight: bold; */
    /* } */
    .primary-navigation {
        /* border: 2px solid rgb(0, 0, 0); */
        /* --gap: 2rem;  */

        position: fixed;
        z-index: 1000; /*in relation to mobile-nav-toggle button*/
        inset: 0 0 0 30%; /*inset is shorthand for top left right bottom */


        flex-direction: column; /* makes the nav As be in column form not row */
        padding: min(30vh, 10rem) 2rem;

        /*background: hsl(0 10% 10% / 0.1); you can use the old comma way for hsl too*/
        background-color: #4d204a;

        transform: translateX(100%); /*moves 100% of its own width to the right*/
        transition: transform 350ms ease-in;
    }

    .primary-navigation[data-visible="true"] { /*if data-visible="true" then the width will pop back from the right due to setting translateX to 0%*/
        transform: translateX(0%);
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('Images/X-icon.svg');
    }

    .mobile-nav-toggle {
        display: block; /*since its display:hidden for wider views n/b not display:contents*/
        position: absolute;
        top: 2rem;
        right: 2rem;

        z-index: 9999;
        background-image: url("Images/bars-icon.svg");
        background-color: transparent;
        background-repeat: no-repeat; /*so that the icon doesn't repeat itself when width increases*/

        width: 2rem;
        border: 0;
        aspect-ratio: 1; /*edits both width and height sizes*/

    }

    .mobile-nav-toggle:hover {
        cursor: pointer;
    }

    .primary-navigation a {
        border: 0;
    }

    .header-pic h1 {
        padding-top: 3.5rem;
        width: 90%;
        margin: auto;
    }
    .header-pic p {
        width: 80%;
        margin: auto;
    } 
    .services-each p {
        margin: 2rem 0 1rem 0;
        font-size: .9rem;
    }
    .why-us-inner {
        flex-wrap: wrap;
    }
}


@media (max-width: 25.0625em) { /*below 402px */
    .header-pic {
        width: 100%;
    }
    .header-pic h1 {
        /* border: 2px solid red; */
        padding-top: 3rem;
    }
}
@media (max-width: 20em) { /*below 321px */
    .header-pic h1 {
        /* border: 2px solid rgb(15, 15, 15); */
        width: 100%;
        padding-top: .5rem;
        font-size: 2.3rem;
        line-height: 2rem;
    }
}
@media (max-width: 15.625em) { /*below 251px */
    .header-pic h1 {
        /* border: 2px solid rgb(236, 25, 25); */
        font-size: 2rem;
        line-height: 1.8rem;
    }
}

@media (min-width: 40.01em) { /*above 640px*/
    .primary-navigation {
        /* --gap: clamp(2.5rem, 2vw, 5rem); clamp(min, mid, max values) */
        --gap: clamp(.5rem, 1.3vw, 3rem); 
        /* --gap: .1rem; */
    }
    .header-image {
        height: 34rem;
    }
    .header-pic h1 {
        /* border: 2px solid black; */
        padding-top: 7rem;
    }
    .header-pic p {
        width: 70%;
        margin: auto;
    } 
    .header-pic button{
        margin-top: 5rem;
    }
}

@media (min-width: 64.0625em) { /*above 1025px */
    .header-image {
        height: 38rem;
    }
    .header-pic h1{
        /* border: 2px solid red; */
        padding-top: 10rem;
    }
    .header-pic button{
        margin-top: 7rem;
    }
}


/* @media (min-width: 48.01em) { above 768px
    .header-image .header-pic h1 {
        width: 80%;
        margin: auto;
    
        padding-top: 5.5rem;
        font-weight: 900; 
    }
    .header-image .header-pic p {
    
        width: 50%;
        margin: auto;
        
        font-size: 1.4rem; */
        /* padding-top: 2.5rem; */
        /* font-family: 'Verdana'; */
    /* }
    .header-image .header-pic button {
        margin-top: 3rem;
       
    } */
    /*.primary-navigation {
        --gap: clamp(2rem, 5vw, 7rem); /*clamp(min, mid, max values)*/
        /*--gap: 1rem;*/
        /*padding-block: 2rem; /*padding block is top, bottom*/
        /*padding-inline: 2.2rem; /*padding inline is left, right*/
   /*}
   /* .logo span {
    font-size: 1.3rem;
   } */
/* } */
/*@media (min-width: 160em) { /*above 2560px*/
    /*.primary-navigation {
        --gap: clamp(8rem, 7vw, 20rem); /*clamp(min, mid, max values)*/
   /*}
   /* .logo span {
    font-size: 1.6rem;
   } */
/*}*/





/*to minimise transition when resizing screen [its not really necessary]*/
.resize-animation-stopper * {
    transition: none !important;
    animation: none !important;
}

